# Environments
.venv
venv/

# Poetry / Dependency Management
requirements.txt

# Jupyter Notebook
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Pycharm
.idea/*

# Mac OSX
.DS_Store
