[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = false
name = "pypi-926"

[packages]
jupyter-contrib-nbextensions = "0.5.1"
jupyterlab = "==3.2.8"
openseries = "==0.3.5"
rise = "==5.7.1"
notebook = "==6.4.7"
jupyter-nbextensions-configurator = "*"

[dev-packages]

[requires]
python_version = "3.6.4"
