annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
anyio==4.11.0 ; python_version >= "3.10" and python_version < "3.14"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Darwin"
argon2-cffi-bindings==25.1.0 ; python_version >= "3.10" and python_version < "3.14"
argon2-cffi==25.1.0 ; python_version >= "3.10" and python_version < "3.14"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.14"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "3.14"
async-lru==2.0.5 ; python_version >= "3.10" and python_version < "3.14"
attrs==25.4.0 ; python_version >= "3.10" and python_version < "3.14"
babel==2.17.0 ; python_version >= "3.10" and python_version < "3.14"
beautifulsoup4==4.14.2 ; python_version >= "3.10" and python_version < "3.14"
bleach==6.2.0 ; python_version >= "3.10" and python_version < "3.14"
certifi==2025.10.5 ; python_version >= "3.10" and python_version < "3.14"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
cfgv==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.3 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
comm==0.2.3 ; python_version >= "3.10" and python_version < "3.14"
debugpy==1.8.17 ; python_version >= "3.10" and python_version < "3.14"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.14"
distlib==0.4.0 ; python_version >= "3.10" and python_version < "3.14"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
exceptiongroup==1.3.0 ; python_version == "3.10"
exchange-calendars==4.11.1 ; python_version >= "3.10" and python_version < "3.14"
executing==2.2.1 ; python_version >= "3.10" and python_version < "3.14"
fastjsonschema==2.21.2 ; python_version >= "3.10" and python_version < "3.14"
filelock==3.20.0 ; python_version >= "3.10" and python_version < "3.14"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.14"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.14"
holidays==0.82 ; python_version >= "3.10" and python_version < "3.14"
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.14"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.14"
identify==2.6.15 ; python_version >= "3.10" and python_version < "3.14"
idna==3.11 ; python_version >= "3.10" and python_version < "3.14"
ipykernel==6.30.1 ; python_version >= "3.10" and python_version < "3.14"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "3.14"
ipython==8.37.0 ; python_version == "3.10"
ipython==9.6.0 ; python_version >= "3.11" and python_version < "3.14"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.14"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.14"
joblib==1.5.2 ; python_version >= "3.10" and python_version < "3.14"
json5==0.12.1 ; python_version >= "3.10" and python_version < "3.14"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.14"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10" and python_version < "3.14"
jsonschema==4.25.1 ; python_version >= "3.10" and python_version < "3.14"
jupyter-client==8.6.3 ; python_version >= "3.10" and python_version < "3.14"
jupyter-core==5.8.1 ; python_version >= "3.10" and python_version < "3.14"
jupyter-events==0.12.0 ; python_version >= "3.10" and python_version < "3.14"
jupyter-lsp==2.3.0 ; python_version >= "3.10" and python_version < "3.14"
jupyter-server-terminals==0.5.3 ; python_version >= "3.10" and python_version < "3.14"
jupyter-server==2.17.0 ; python_version >= "3.10" and python_version < "3.14"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.14"
jupyterlab-server==2.27.3 ; python_version >= "3.10" and python_version < "3.14"
jupyterlab==4.4.9 ; python_version >= "3.10" and python_version < "3.14"
korean-lunar-calendar==0.3.1 ; python_version >= "3.10" and python_version < "3.14"
lark==1.3.0 ; python_version >= "3.10" and python_version < "3.14"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "3.14"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.14"
mistune==3.1.4 ; python_version >= "3.10" and python_version < "3.14"
narwhals==2.7.0 ; python_version >= "3.10" and python_version < "3.14"
nbclient==0.10.2 ; python_version >= "3.10" and python_version < "3.14"
nbconvert==7.16.6 ; python_version >= "3.10" and python_version < "3.14"
nbformat==5.10.4 ; python_version >= "3.10" and python_version < "3.14"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.14"
nodeenv==1.9.1 ; python_version >= "3.10" and python_version < "3.14"
notebook-shim==0.2.4 ; python_version >= "3.10" and python_version < "3.14"
notebook==7.4.7 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.2.6 ; python_version == "3.10"
numpy==2.3.3 ; python_version >= "3.11" and python_version < "3.14"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.14"
openseries==2.0.1 ; python_version >= "3.10" and python_version < "3.14"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==25.0 ; python_version >= "3.10" and python_version < "3.14"
pandas==2.3.3 ; python_version >= "3.10" and python_version < "3.14"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "3.14"
parso==0.8.5 ; python_version >= "3.10" and python_version < "3.14"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform != "win32" and sys_platform != "emscripten"
platformdirs==4.5.0 ; python_version >= "3.10" and python_version < "3.14"
plotly==6.3.1 ; python_version >= "3.10" and python_version < "3.14"
pre-commit==4.3.0 ; python_version >= "3.10" and python_version < "3.14"
prometheus-client==0.23.1 ; python_version >= "3.10" and python_version < "3.14"
prompt-toolkit==3.0.52 ; python_version >= "3.10" and python_version < "3.14"
psutil==7.1.0 ; python_version >= "3.10" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.14" and (os_name != "nt" or sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.14"
pycparser==2.23 ; python_version >= "3.10" and python_version < "3.14" and implementation_name != "PyPy"
pydantic-core==2.41.1 ; python_version >= "3.10" and python_version < "3.14"
pydantic==2.12.0 ; python_version >= "3.10" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "3.14"
pyluach==2.3.0 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.14"
python-json-logger==4.0.0 ; python_version >= "3.10" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.14"
pywin32==311 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32" and platform_python_implementation != "PyPy"
pywinpty==3.0.2 ; python_version >= "3.10" and python_version < "3.14" and os_name == "nt"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "3.14"
pyzmq==27.1.0 ; python_version >= "3.10" and python_version < "3.14"
referencing==0.36.2 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.5 ; python_version >= "3.10" and python_version < "3.14"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.14"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.14"
rfc3987-syntax==1.1.0 ; python_version >= "3.10" and python_version < "3.14"
rpds-py==0.27.1 ; python_version >= "3.10" and python_version < "3.14"
scikit-learn==1.7.2 ; python_version >= "3.10" and python_version < "3.14"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.16.2 ; python_version >= "3.11" and python_version < "3.14"
send2trash==1.8.3 ; python_version >= "3.10" and python_version < "3.14"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.14"
soupsieve==2.8 ; python_version >= "3.10" and python_version < "3.14"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.14"
terminado==0.18.1 ; python_version >= "3.10" and python_version < "3.14"
threadpoolctl==3.6.0 ; python_version >= "3.10" and python_version < "3.14"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.3.0 ; python_version == "3.10"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "3.14"
tornado==6.5.2 ; python_version >= "3.10" and python_version < "3.14"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.14"
types-python-dateutil==2.9.0.20251008 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.14"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.14"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.14"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.14"
virtualenv==20.35.3 ; python_version >= "3.10" and python_version < "3.14"
wcwidth==0.2.14 ; python_version >= "3.10" and python_version < "3.14"
webcolors==24.11.1 ; python_version >= "3.10" and python_version < "3.14"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.14"
websocket-client==1.9.0 ; python_version >= "3.10" and python_version < "3.14"
